.contact-section {
    position: relative;
    padding: 2px;
    text-align: center;
    margin-top: -2cm;
  }
  
  .contact-heading {
    max-width: 65%;
    margin-bottom: 20px;
  }
  
  .contact-wrapper {
    position: relative;
  }
  
  .contact-bg {
    width: 100%;
    height: auto;
    opacity: 0.5; /* Can adjust opacity as needed */
  }
  
  .contact-links {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.contact-links a {
    color: #0a0000;
    display: inline-block;
    margin: 95px; /* Horizontal gap between links */
    text-decoration: none;
    margin-top: 8.5cm;
    font-size: 1 rem;
}
.contact-links a:nth-child(-n+2) {
    margin-top: 9cm;
}
.contact-links {
    flex-direction: row; /* Change to horizontal display */
    text-decoration: underline; /* Underline the links */
}
  
  .contact-links a:hover {
    color: #cc006d;
    text-decoration: underline;
  }
.contact-bg {
    width: 60%;
    margin-top: -45px;
}